-provide(:title, @user.name)
#content
  :markdown
    ##User Listing
    #{gravatar_for @user}
    #{@user.name},<br />
    #{@user.email},<br />
    #{@user.created_at}, <br />
    #{@user.updated_at}