<td><%= link_to "#{patient.mrn}", patient_path(patient) %></td>
<td><%= patient.surname %></td>
<td><%= patient.firstname %></td>
<td><%= patient.dob %></td>
<td><%= patient.diagnosis %></td>
<td>Attending Here</td>

