<%= provide(:title, 'Available Conferences') %> 
<div class="page-header center">
  <h1>Available Conferences</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Conference Date</th>
      <th>Number of Patients</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @conferences.each do |conf| %>
      <tr>
        <td width="20%"><%= link_to pretty_date_with_year(conf.conf_date), conf %></td>
        <td width="10%"><center>
          <% count = conf.patients.count %>
          <% if count > 3 %>
            <span class="badge badge-important">
              <%= conf.patients.count %>
            </span>
          <% elsif count == 3 %>
            <span class="badge badge-warning">
              <%= conf.patients.count %>
            </span>
          <% elsif count == 2 %>
            <span class="badge badge-success">
              <%= conf.patients.count %>
            </span>
          <% elsif count == 1 %>
            <span class="badge badge-info">
              <%= conf.patients.count %>
            </span>
          <% else %>
            <span class="badge">
              <%= conf.patients.count %>
            </span>
          <% end %>
        </center>
        </td>
        <td width="70%">
          <ul style="list-style-type: none;">
          <% conf.patients.order('surname ASC').each do |pat| %>
            <li style="display: inline; border-radius: 15px; padding: .2em 1em; background-color: #E8E7E3"><%= "#{pat.surname}" %></li>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>
</ul>