<%= provide(:title, 'Conference Listing') %> 
<div class="page-header center">
  <h1>Conference Listing<br/><small><%= @conference.conf_date %></small></h1>
</div>

<div class="span4">
<%= link_to raw('<i class="icon-circle-arrow-left icon-black"></i> Conferences'), conferences_path, class: "btn btn-action" %>
</div>

<br/><br/>
<div class="span11">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>MRN</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Date of Birth</th>
        <th>Diagnosis</th>
        <th>Primary Attending</th>
      </tr>
    </thead>
    <tbody>
      <% @conference.patients.each do |patient| %>
        <tr>
          <%= render partial: 'conference_patient_table', :locals => {:goal => 'remove', patient: patient} %>
        </tr>
      <% end %>
     
    </tbody>
  </table>
</div>

<div class="span4">
  <% if current_user.editor? %>
    <%= link_to raw('<i class="icon-pencil icon-black"></i> Edit'), edit_conference_path, class: "btn btn-action" %>
  <% end %>
  <% if current_user.admin? %>
    <%= link_to "Delete Conference", @conference, class: "btn btn-danger", method: :delete, confirm: "Really Delete This Conference Forever?" %>
  <% end %>
</div>
