<%= provide(:title, 'Edit Patient') %> 
<h1>Edit Patient</h1>
  <div>
      <%= form_for @patient, html: {class: "well form-horizontal"} do |f| %>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <% %w{surname firstname mrn dob diagnosis}.each do |field| %>
                <th>
                <%= proper_name(field.to_sym) %><br/>
                <%= f.text_field field, class: "input-medium" %>
                </th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% %w{pmhx rx vitals exam ekg echo cath other summary}.each do |field| %>
              <tr>
                <td colspan=5>  
                  <%= proper_name(field.to_sym) %>
                  <%= f.text_area field, class: "span12", rows: linecount(field) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= f.submit "Save Patient", class: "btn btn-large btn-primary" %>
      <% end %> <!-- End Form -->
  </div>