<%= provide(:title, 'Create New Patient') %> 
<h1>Create New Patient</h1>
  <div class="container">
      <%= form_for @patient, html: {class: "well"} do |f| %>

        <% %w{surname firstname mrn dob diagnosis}.each do |field| %>
          <%= f.label field %>
          <%= f.text_field field, class: "span3" %>
        <% end %>

        <% %w{pmhx rx vitals exam ekg echo cath other summary decisions}.each do |field| %>
          <%= f.label field %>
          <%= f.text_field field, class: "span8" %>
        <% end %>

      <% end %> <!-- End Form -->
  </div>
