<%= provide(:title, 'View Patient') %> 
<div class="page-header center">
  <h1><%= "#{@patient.firstname.capitalize} #{@patient.surname.capitalize}" %><br/>
    <small>Demographics and Facesheet</small>
  </h1>
  <%= link_to raw('<i class="icon-circle-arrow-left icon-black"></i> Back'), :back, class: "btn btn-action" %>

  <% if current_user.editor? %>
    <a class="btn btn-warning" href=<%= edit_patient_path %> >
      <i class="icon-pencil icon-white"></i> Edit This Patient</a>
  <% end %>
  
</div>

<div class="row-fluid">

  <div class="span4 well">
    <h2>Demographics</h2>
    <strong><h5><%= "#{@patient.surname}, #{@patient.firstname}" %></strong></h5><br/>
    <strong><h5><%= "DOB:" %></strong> <%= "#{@patient.dob}" %></h5><br/>
    <strong><h5><%= "MRN:" %></strong> <%= "#{@patient.mrn}" %></h5><br/>
    <strong><h5><%= "Diag:" %></strong> <%= "#{@patient.diagnosis}" %></h5>
  </div>

  <div class="span4">
    <h2>Extra</h2>
    <p></p>
  </div>

  <div class="span3">
    <h2>Presentations</h2>
    <ul>
      <% @patient.conferences.order('conf_date DESC').each do |conf| %>
        <li><%= link_to "#{pretty_date_with_year(conf.conf_date)}", conf %></li>
      <% end %>
    </ul>
  </div>
</div> <!-- row -->

<section id="patientinfo">
  <div class="patient=header">
    <h2>Patient Information</h2>
  </div>

  <table class="table">
    <body>
      <% %w{pmhx rx vitals exam ekg echo cath other summary}.each do |field| %>
        <tr>
          <% if @patient[field].blank? %>
            <td class="span2">
              <%= proper_name(field.to_sym) %>
            </td>
            <td class="span10"> 
              <i>This Field is Empty</i>
            </td>

          <% else %>
            <td class="span2">
              <%= proper_name(field.to_sym) %>
            </td>
            <td class="span10"> 
              <%= simple_format(@patient[field]) %>
            </td>
          <% end %>

        </tr>
      <% end %>
    </body>
  </table>

  <% if current_user.admin? %>
  <%= link_to "Delete Patient", @patient, class: "btn btn-danger", method: :delete, confirm: "Really Delete This Patient Forever?" %>
  <% end %>

